

.greetings {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #fdf5e6;
    background: linear-gradient(#f9a825, #242424);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.greetings h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}
